body.home {
  overflow: hidden;
  height: 100%;
  width: 100%;
  button.orbit-next, button.orbit-previous {
    z-index: 1;
    transition: 0.2s ease-in-out;
    &:hover {
      background: white !important;
      color: black !important;
      cursor: pointer !important;
    }
  }

  @include mobile {
      .orbit-container {
        .orbit-slide {
          &:nth-of-type(1) {
            .orbit-image {
              background-position: 50% -50px;
            }
          }
          &:nth-of-type(2) {
            .orbit-image {
              background-position: 10% -50px;
            }
          }
          &:nth-of-type(3) {
            .orbit-image {
              background-position: 50% -50px;
            }
          }
        }
      }
  }

  .fullscreen-image-slider {
    ul.orbit-container {
      height: 100vh !important;
      li {
        height: 100%;
      }
    }

    .orbit-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .orbit-caption {
      bottom: 50%;
      transform: translateY(50%);
      background: none;
      text-align: center;
      color: $white;
      font-weight: bold;
    }
  }

  .home-detail-wrapper {
    position: absolute;
    z-index: 1;
    left: -300px;
    bottom: 2rem;
    background: white;
    color: black;
    padding: 0.4rem 0.6rem;
    letter-spacing: 2px;
    transition: 0.5s ease-in-out;
    opacity: 0;
    font-size: 0.9rem;
    &:hover {
      background-color: black;
      a {
        color: white;
        &:hover {
          opacity: 0.8;
        }
      }
      i {
        color: white;
        font-size: 1.136rem;
      }
      .hours {
        color: rgba(255,255,255,255.6);
      }
    }
    &.loaded {
      left: 2rem;
      opacity: 1;
    }
    .phone {
      float: right;
    }
    a {
      color: black;
      &:hover {
        opacity: 0.8;
      }
    }
    i {
      color: black;
      font-size: 1.136rem;
    }
    .hours {
      color: rgba(0,0,0,0.6);
      font-size: 0.8rem;
      letter-spacing: 0;
    }
    @include mobile {
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 0.4rem;
      font-size: 0.8rem;
      &.loaded {
        left: 0rem;
      }
    }
  }


}
