body.home {
  overflow: hidden;
  height: 100%;
  width: 100%;
  cursor: pointer;
  button.obit-previous, button.orbit-next {
    z-index: 1;
    transition: 0.2s ease-in-out;
    &:hover {
      background: white !important;
      color: black !important;
      cursor: pointer !important;
    }
  }


  .fullscreen-image-slider {
    ul.orbit-container {
      height: 100vh !important;
      li {
        height: 100%;
      }
    }

    .orbit-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .orbit-caption {
      bottom: 50%;
      transform: translateY(50%);
      background: none;
      text-align: center;
      color: $white;
      font-weight: bold;
    }
  }

  .home-detail-wrapper {
    position: absolute;
    z-index: 1;
    left: 4rem;
    bottom: 2rem;
    background: white;
    color: black;
    padding: 0.4rem 0.6rem;
    letter-spacing: 2px;
    a {
      float: right;
    }
    i {
      color: black;
      font-size: 1.136rem;
    }
    .hours {
      color: rgba(0,0,0,0.6);
      font-size: 0.8rem;
    }
    @include mobile {
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 0.4rem;
      font-size: 0.8rem;
    }
  }


}
