body.page-template-default, body.calendar {
  background: white;
  color: black;
  main {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 12rem;
    padding-bottom: 2rem;
    section.interior-main {
      min-height: 50vh;
      margin: 0 auto;
      max-width: 50vw;
      @media screen and (max-width: 1200px) {
        max-width: 720px;
      }
      @include tablet {
        max-width: inherit;
        width: 100%;
        padding: 0 2rem;
      }
      @include mobile {
        padding: 0 1rem;
      }
      h1 {
        font-weight: 700;
        font-size: 1.8rem;
        padding-bottom: 5rem
      }
    }
  }
}


// CALENDAR STYLING
.events-holder {
  .title-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    h2 {
      margin: 0;
      font-weight: 500;
    }
    .event-time {
      font-size: 1.5rem;
      color: rgba(0,0,0,0.8);
      font-weight: 100;
      letter-spacing: 1px;
      @include mobile {
        font-size: 1rem;
      }
    }
  }
  .event-date {
    background: black;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-transform: lowercase;
    padding: 0 0.4rem;
    .month, .day {
      display: inline-block;
    }
    .day {
      float: right;
    }
  }
  .event-image {
    display: block;
    margin-top: 0.4rem;
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  .button {
    background: black;
    color: white;
    border: 3px solid black;
    &:hover {
      background: white;
      color: black;
    }
  }
}
