/** Colors */
$foundation-palette: (
  primary: #27ae60,
  secondary: #1866ff,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

@mixin easeOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
